<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista korisnika</title>
    <style>
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #f3f4f6;
    font-family: Arial, sans-serif;
    color: #333;
}

h1 {
    color: #444;
    margin-bottom: 20px;
}

table {
    width: 80%;
    max-width: 600px;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

table thead {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

p {
    font-size: 16px;
    color: #666;
    margin-top: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

    </style>

</head>
<body>
    <h1>Lista korisnika</h1>

    <% if (users && users.length > 0) { %>
        <table>
            <thead>
                <tr>
                    <th>Korisnik</th>
                    <th>Lozinka</th>
                    <th>XSS zaštita</th>
                    <th>Sigurna pohrana lozinke</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                    <tr>
                        <td><%- user.username %></td>
                        <td><%= user.password %></td>
                        <td><%= user.xssProtection ? 'Da' : 'Ne' %></td>
                        <td><%= user.secureStorage ? 'Da' : 'Ne' %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <p>No users found.</p>
    <% } %>

    <button onclick="window.location.href='/'">Povratak na registraciju</button>
</body>
</html>
